a {
    color: #ffd538 !important;
}

.progress-bar-yellow {
    background-color: #ffd538 !important;
}

.btn-primary {
  background-color: #0079cb !important;
  border-color: #0079cb !important;
}

.btn-secondary {
  background-color: #f7001c !important;
  border-color: #f7001c !important;
}

#leaderboard_dt , th, td {
    font-size: 15px !important;
    color: white !important;
}
