a {
    color: #ffd538 !important;
}

.progress-bar-yellow {
    background-color: #ffd538 !important;
}

.btn-primary {
  background-color: #0079cb !important;
  border-color: #0079cb !important;
}

.btn-secondary {
  background-color: #f7001c !important;
  border-color: #f7001c !important;
}

#leaderboard_dt , th, td {
    font-size: 15px !important;
    color: white !important;
}

.irs--shiny .irs-handle:before{
  content:"🏎️";
  transform-origin: center;
  transform: translate(-50%, -50%);
  text-align:center;
  top: 50%;
  left: 50%;
  font-size: 60px;
  position: absolute;
  width: 60px;
  height: 60px;
  line-height: 1px;
  margin: -15px 0 0 -15px;
  transform: scaleX(-1);
}

.irs--shiny .irs-handle{
  background-color: transparent !important;
  border: 0 !important;
  box-shadow: none !important;
}

.irs--shiny .irs-handle.state_hover,
.irs--shiny .irs-handle:hover{
  background-color: transparent !important;
}

.label{
  display:none !important;
}

.irs--shiny .irs-bar{
  background-color: #0079cb !important;
  border-top: 1px solid #0079cb !important;
  border-bottom: 1px solid #0079cb !important;
}

.irs--shiny .irs-min, .irs--shiny .irs-max{
  display:none !important;
}

.irs--shiny .irs-from,
.irs--shiny .irs-to,
.irs--shiny .irs-single{
  display:none !important;
}

.irs {
  pointer-events: none !important;
}

#progress_bar .form-group {
  width: 100% !important;
}
