a {
    color: #ffd538 !important;
}

.progress-bar-blue {
    background-color: #ffd538 !important;
}

.btn-primary {
  background-color: #0079cb !important;
  border-color: #0079cb !important;
}

.btn-secondary {
  background-color: #f7001c !important;
  border-color: #f7001c !important;
}
